<p id="notice"><%= notice %></p>

<h1>Listing Another Examples</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @another_examples.each do |another_example| %>
      <tr>
        <td><%= another_example.title %></td>
        <td><%= link_to 'Show', another_example %></td>
        <td><%= link_to 'Edit', edit_another_example_path(another_example) %></td>
        <td><%= link_to 'Destroy', another_example, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Another example', new_another_example_path %>
